[Desktop Entry]
X-SuSE-translate=true
Terminal=false
Name=atReader
Name[ast]=atReader
Name[bg]=atReader
Name[bs]=atReader
Name[ca]=atReader
Name[ca@valencia]=atReader
Name[cs]=atReader
Name[da]=atReader
Name[de]=atReader
Name[el]=atReader
Name[en_GB]=atReader
Name[eo]=atReader
Name[es]=atReader
Name[et]=atReader
Name[eu]=atReader
Name[fi]=atReader
Name[fr]=atReader
Name[ga]=atReader
Name[gl]=atReader
Name[hr]=atReader
Name[hu]=atReader
Name[is]=atReader
Name[it]=atReader
Name[ja]=atReader
Name[kk]=atReader
Name[km]=atReader
Name[ko]=atReader
Name[ku]=atReader
Name[lt]=atReader
Name[lv]=atReader
Name[nb]=atReader
Name[nds]=atReader
Name[nl]=atReader
Name[nn]=atReader
Name[pl]=atReader
Name[pt]=atReader
Name[pt_BR]=atReader
Name[ro]=atReader
Name[ru]=atReader
Name[si]=atReader
Name[sk]=atReader
Name[sl]=atReader
Name[sq]=atReader
Name[sr@ijekavianlatin]=atReader
Name[sr@latin]=atReader
Name[sv]=atReader
Name[tr]=atReader
Name[ug]=atReader
Name[uk]=atReader
Name[x-test]=xxatReaderxx
Name[zh_CN]=atReader
Exec=atReader
Icon=atReader
Type=Application
InitialPreference=7
Categories=Office;Viewer;
MimeType=application/vnd.kde.atReader-archive;

