[Desktop Entry]
Terminal=false
Name=tabletReader
Name[de]=tabletReader
Name[es]=tabletReader
Name[fr]=tabletReader
Name[nl]=tabletReader
Name[pt]=Leitor da Tablete
Name[pt_BR]=tabletReader
Name[sk]=tabletReader
Name[uk]=tabletReader
Name[x-test]=xxtabletReaderxx
Exec=tabletReader
Icon=tabletReader
Type=Application
InitialPreference=7
Categories=Office;Viewer;
MimeType=application/vnd.kde.tabletReader-archive;
