[Desktop Entry]
Terminal=false
Name=tabletReader
Name[de]=tabletReader
Name[es]=tabletReader
Name[et]=tabletReader
Name[fr]=tabletReader
Name[ga]=Léitheoir táibléid
Name[gl]=tabletReader
Name[hu]=tabletReader
Name[km]=tabletReader
Name[nl]=tabletReader
Name[pl]=TabletowyCzytnik
Name[pt]=Leitor da Tablete
Name[pt_BR]=tabletReader
Name[sk]=tabletReader
Name[sv]=Läsprogram för läsplatta
Name[uk]=tabletReader
Name[x-test]=xxtabletReaderxx
Exec=tabletReader
Icon=tabletReader
Type=Application
InitialPreference=7
Categories=Office;Viewer;
MimeType=application/vnd.kde.tabletReader-archive;
