[Desktop Entry]
Terminal=false
Name=TabletReader
Exec=tabletReader
Icon=tabletReader
Type=Application
InitialPreference=7
Categories=Office;Viewer;
MimeType=application/vnd.kde.tabletReader-archive;
